<img src="images/pandas-intro.png">

# Learning Agenda of this Notebook:
- What is Pandas and how is it used in AI?
- Key features of Pandas
- Data Types in Pandas
- What does Pandas deal with?

- Creating Series in Pandas
    - From Python List
    - From NumPy Arrays
    - From Python Dictionary
    - From a scalar value
    - Creating empty series object
- Attributes of a Pandas Series
- Arithmetic Operations on Series

- Dataframes in Pandas
    - Anatomy of a Dataframe
    - Creating Dataframe
        - An empty dataframe
        - Two-Dimensional NumPy Array
        - Dictionary of Python Lists
        - Dictionary of Panda Series
    - Attributes of a Dataframe
    - Bonus
- Different file formats in Pandas 
- Indexing, Subsetting and Slicing Dataframes
    - Practice Exercise I
- Modifying Dataframes
- Data Handling with Pandas
  - Practice Exercise I
  - Practice Exercise II
- All Statistical functions in Pandas
- Input/Output Operations
- Aggregation & Grouping
  - Practice Exercise
- Merging, Joining and Concatenation
  - Practice Exercise
- How To Perform Data Visualization with Pandas
- Exercise I
- Exercise II
- Pandas's Assignment

## Outline of Notebook

1. Identify the Columns having Null/Missing values using `df.isna()` method
2. Handle/Impute the Null/Missing Values under the `scholarship` Column using `df.loc[mask,col]=value`
3. Handle/Impute the Null/Missing Values under the `group` Column using `df.loc[mask,col]=value`
4. Handle Missing values under a Numeric/Categorical Column using `fillna()`
5. Handle Repeating Values (for same information) under the `session` Column
6. Create a new Column by Modifying an Existing Column
7. Delete Rows Having NaN values using `df.dropna()` method
8. Convert Categorical Variables into Numerical

### Important Points:
- In Pandas, To impute numerical we use mean or median of column.
- In Pandas, To impute categorical we use mode.
- In Real world, we use SimpleImputer or KNNImputer for imputation. These both are available in sklearn.

In [ ]:
import pandas as pd
df = pd.read_csv('datasets/groupdata.csv')
df

In [ ]:
df.describe(include='all')

- Whenever the **`pd.read_csv()`** method detects a missing value (nothing between two commas in a csv file or an empty cell in Excel) it flags it with NaN. There can be many reasons for these NaN values, one can be that the data is gathered via google form from people and this field might be optional and skipped.
- There can also be a scenario that a user has entered some text under a numeric field about which he/she do not have any information.

## 1. Identify the Columns having Null/Missing values
- The **`df.isna()`** method isrecommended to use than `df.isnull()`, which return a boolean same-sized object that indicates whether an element is NA value or not. Missing values get mapped to True. Everything else gets mapped to False values. Remember, characters such as empty strings ``''`` or `numpy.inf` are not considered NA values.
- The **`df.notna()`** method is recommended to use than `df.notnull()` methods return a boolean same-sized object that indicates whether an element is NA value or not. Non-missing values get mapped to True.

In [ ]:
df.isna().head()

In [ ]:
df.notna().head()

In [ ]:
# Now we can use sum() on this dataframe object of Boolean values (True is mapped to 1)
df.isna().sum()

In [ ]:
# Similarly, we can use sum() on this dataframe object of Boolean values (True is is mapped to 1)
df.notna().sum()

## 2. Handle/Impute the Null/Missing Values under the `scholarship` Column

#### a. Identify the Rows under the `scholarship` Column having Null/Missing values
- The `df.isna()` method works equally good on Series objects as well

In [ ]:
df.scholarship.isna()

In [ ]:
mask = df.scholarship.isna()
mask

In [ ]:
# This will return only those rows of dataframe having null values under the scholarship column
df[mask]         # df[df.scholarship.isna()] or 
df.loc[mask, :]  # df.loc[df.scholarship.isna(), :]

#### b. Replace the Null/Missing Values under the `scholarship` Column
- After detecting the NaN values, the next question is, what value we should write in the cells where we have Null/Missing values under the `scholarship` column
- Suppose, we want to put the average values at the place of missing values.

In [ ]:
# compute the mean of the scholarship column
df.scholarship.mean()

In [ ]:
df.loc[df.scholarship.isna(), 'scholarship']

In [ ]:
df.loc[df.scholarship.isna(), 'scholarship'] = df.scholarship.mean()
df

In [ ]:
# Confirm the result
df.isna().sum()

## 3. Handle/Impute the Null/Missing Values under the `group` Column
- The `group` column contains categorical values, i.e., a value that can take on one of a limited, and usually fixed, number of possible values.

#### a. Identify the Rows under the `group` Column having Null/Missing values

In [ ]:
mask = df.group.isna()
mask

In [ ]:
df[mask]          # df[df.group.isna()]
df.loc[mask, :]   # df.loc[df.group.isna()]

#### b. Replace the Null/Missing Values under the `group` Column
- After detecting the NaN values, the next question is, what value we should write in the cells where we have Null/Missing values
- Since this is a categorical column having datatype object (group A, group B, group C, ...), so let us replace it with th value inside the column having the maximum frequency

In [ ]:
# Use value_counts() function which return a Series containing counts of unique values (in descending order)
# with the most frequently-occurring element at first. It excludes NA values by default.
df.group.value_counts()

In [ ]:
# df.group.value_counts(dropna=False)

In [ ]:
df.group.mode()[0]

In [ ]:
# List only those records under group column having Null values
mask = df.group.isna()
df.loc[mask, 'group']     # df.loc[(df.group.isna()), 'group']

In [ ]:
# Let us replace these values with maximum occurring value in the `group` column
df.loc[(df.group.isna()),'group'] = df.group.mode()[0]

In [ ]:
# Confirm the result
df.isna().sum()

In [ ]:
df

> Note that in the original dataframe `Yusuf` group information was missing, and now it is `group C`

## 4. Handle Missing values under a Numeric/Categorical Column using `fillna()`

#### a. Replace the Null/Missing Values under the `scholarship` Column using `fillna()`
- This is more recommended way of filling in the Null values within columns of your dataset rather than the use of the `loc` method.
```
object.fillna(value, method, inplace=True)
```
- The only required argument is either the `value`, with which we want to replace the missing values OR the `method` to be used to replace the missing values
- Returns object with missing values filled or None if ``inplace=True``

In [ ]:
import pandas as pd
df = pd.read_csv('datasets/groupdata.csv')

In [ ]:
df.sample(5)

>- Before proceeding, tell me why we use `na_values` argument in `pd.read_csv()` method?

In [ ]:
df.loc[df.scholarship.isna()]

In [ ]:
mean_value = df.scholarship.mean()
mean_value
median_value  = df.scholarship.median()
median_value

In [ ]:
# This time instead of loc, use fillna() method with just two arguments
# inplace=True parameter ensure that this happens in the original dataframe

df.scholarship.fillna(value=mean_value, inplace=True)

In [ ]:
# confirm the result
df.loc[df.scholarship.isna()]

In [ ]:
df.head(6)

#### b. Replace the Null/Missing Values under the `group` Column using `fillna()`

In [ ]:
df.isna().sum()

In [ ]:
group_mode = df.group.mode()[0]
group_mode

In [ ]:
df.group.fillna(value=group_mode, inplace=True)

In [ ]:
# Confirm the result
df.isna().sum()

> Fill missing values of subj1 and subj2 columns with the mean of the column using `fillna()` method.

#### c. Replace the Null/Missing Values under the` scholarship` and `group` Column using `ffill` and `bfill` Arguments
- In above examples, we have used the mean value in case of numeric column and mode value in case of a categorical column as the filling value to the `fillna()` method
```
object.fillna(value, method, inplace=True)
```

- We can pass `ffill` or `bfill` as method argument to the `fillna()` method. This will replace the null values with other values from the DataFrame
- `ffill` (Forward fill): It fills the NaN value with the previous value
- `bfill` (Back fill): It fills the NaN value with the Next/Upcoming value

In [ ]:
import pandas as pd
df = pd.read_csv('datasets/groupdata.csv')
df.sample(5)

In [ ]:
df.isna().sum()

In [ ]:
# forward fill or ffill attribute
# If have NaN value, just carry forward the previous value
# using ffill attribute, you can fill the NaN value with the previous value in that column
df.fillna(method = 'ffill', inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
# Or you can use bfill method to fill the NaN values with the next value in that column
df.fillna(method = 'bfill', inplace=True)

## 5. Handle Repeating Values (for same information) under the `session` Column
- If you observe the values under the `session` column, you can observe that it is a categorical column containing four different categories (as values).
    - Notice that the categories `MORNING` and `MOR` are same
    - Similarly, `AFTERNOON` and `AFT` are same
- This happens when you have collected data from different sources, where same information is written in different ways
- So the `session` column has four different categories (as values) but should have only two.

In [ ]:
import pandas as pd
df = pd.read_csv('datasets/groupdata.csv')
df.sample(5)

In [ ]:
df['session'].value_counts()

####  Handle  the Repeating Values under the session Column using `map()`
- To keep the data clean we will map all these values to only two categories to `MOR` , `AFT`  using the map() function.
```
df.map(mapping, na_action=None)
```
- The `map()` method is used for substituting each value in a Series with another value, that may be derived from a `dict`. The `map()` method returns a series after performing the mapping
- You can give `ignore` as second argument which will propagate NaN values, without passing them to the mapping correspondence.

In [ ]:
# To do this, let us create a new mapping (dictionary) 
dict1 = {
    'MORNING' : 'MOR',
    'MOR' : 'MOR',
    'AFTERNOON' : 'AFT',
    'AFT': 'AFT',
}

In [ ]:
# It returns a series with the same index as caller, the original series remains unchanged. 
# So we have assigned the resulting series to `df.session` series
df.session.map(dict1)  # or df['session'].map(dict1)

In [ ]:
df.session = df.session.map(dict1)

In [ ]:
# Count of new categories in the column session
# Observe we have managed to properly manage the values inside the session column
df.session.value_counts()

In [ ]:
# Lets verify the result
df.head()

## 6. Create a new Column by Modifying an Existing Column
- We have a column scholarship in the dataset, which is in Pak Rupees
- Suppose you want to have a new column which should represent the scholarship in `US Dollars`
- For that we need to add a new column by dividing each value of scholarship with 285.

In [ ]:
df = pd.read_csv('datasets/groupdata.csv')

In [ ]:
df.scholarship.apply(lambda x: x/285)

In [ ]:
df['Scholarship_in_$'] = df.scholarship.apply(lambda x : x/285)

In [ ]:
df.head()

## 7. Delete Rows Having NaN values using `df.dropna()` method

In [ ]:
df = pd.read_csv('datasets/groupdata.csv')
df.sample(5)

In [ ]:
df.shape

In [ ]:
16*10

In [ ]:
df.isna().sum().sum()

In [ ]:
# You can use dropna() method to drop all the rows, it it has any na value
df1 = df.dropna()
df1.shape

In [ ]:
# Default Arguments to dropna()
df2 = df.dropna(axis=0, how='any')
df2.shape

In [ ]:
# If we set how='all` it means drop a row only if all of its values are NA
df2 = df.dropna(axis=0, how='all')
df2.shape

In [ ]:
# Use of subset argument and pass it a list of columns based on whose values you want to drop a row
df2 = df.dropna(axis=0, how='any', subset=['subj1'])
df2.shape

## 8. Convert Categorical Variables into Numerical
- Most of the machine learning algorithms do not take categorical variables so we need to convert them into numerical ones. 
- We can do this using Pandas function `pd.get_dummies()`, which will create a binary column for each of the categories. 
```
pd.get_dummies(data, drop_first=False)
```
- Where, the only required argument is `data` which can be a dataframe or a series
- The parameter drop_first : bool, default False Whether to get k-1 dummies out of k categorical levels by removing the first level.

**Note:** Making a dummy variable will take all the `K` distinct values in one coumn and make `K` columns out of them

#### a. Convert all categorical variables into dummy/indicator variables

In [ ]:
df = pd.read_csv('datasets/groupdata.csv')
df.columns

In [ ]:
# currently we have 10 columns in the data
df.shape

In [ ]:
# Convert all categorical variables into dummy/indicator variables
df = pd.get_dummies(df)

In [ ]:
df.shape

In [ ]:
# Let us view the datafreame, keep a note on the number of columns
pd.set_option('display.max_columns', None)
df.head()

- So we have 37 columns
- Even though one-hot encoding is a good way to convert your categorical columns to numerical columns
- But it adds a lot of dimensionality to your data, i.e., increase the number of columns
- It also become difficult to deal with that much number of columns
- This is a trade-off, which is handled by technique called dimensionality reduction

#### b. Perform One-Hot Encoding for Categorical Column `gender` Only
- In our dataframe, the gender column is a categorical column having two values 'male' and 'female'
- It will create a dummy binary columns.  
- This is also known as `One Hot Encoding`. You will learn more encoding techniques in the data pre-processing module.

In [ ]:
df = pd.read_csv('datasets/groupdata.csv')
df.head()

In [ ]:
# Convert only gender variable into dummy/indicator variables
df2 = pd.get_dummies(df1[['gender']])
df2.head()

In [ ]:
# Since we donot need two separate columns, so simply use the `drop_first` argument of get_dummies to handle this
df2 = pd.get_dummies(df1[['gender']], drop_first=True)
df2.head()

In [ ]:
# We will talk about join in the next session in detail.
df3 = df.join(df2['gender_Male'])
df3.head()

## Practice Questions

For the practice questions, we will use following dataset

In [19]:
import pandas as pd
import numpy as np
dict1 ={
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]
}
print(dict1)

{'ord_no': [70001, nan, 70002, 70004, nan, 70005, nan, 70010, 70003, 70012, nan, 70013], 'purch_amt': [150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6], 'ord_date': ['2012-10-05', '2012-09-10', nan, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'], 'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001], 'salesman_id': [5002, 5003, 5001, nan, 5002, 5001, 5001, nan, 5003, 5002, 5003, nan]}

In [20]:
df = pd.DataFrame(dict1)
df

     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

#### Write a Pandas program to drop the rows where at least one element is missing in a given DataFrame

In [ ]:
df.dropna(how='any')

## Bonus
### Create a heatmap for more information about the distribution of missing values in a given DataFrame.

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(df.isnull(), annot=True);

## All statistical functions
- `count()`: Returns the number of times an element/data has occurred (non-null)
- `sum()`: Returns sum of all values
- `mean()`: Returns the average of all values
- `median()`: Returns the median of all values
- `mode()`: Returns the mode
- `std()`: Returns the standard deviation
- `min()`: Returns the minimum of all values
- `max()`: Returns the maximum of all values
- `abs()`: Returns the absolute value

In [18]:
-12.34, abs(-12.34)

(-12.34, 12.34)

In [23]:
# df.describe method is used to calculate the count, mean, standard deviation, minimum, 
#maximum and percentile values
df.describe(include='all')

              ord_no    purch_amt    ord_date  customer_id  salesman_id
count       8.000000    12.000000          11    12.000000     9.000000
unique           NaN          NaN           7          NaN          NaN
top              NaN          NaN  2012-09-10          NaN          NaN
freq             NaN          NaN           3          NaN          NaN
mean    70006.250000  1461.765000         NaN  3001.833333  5002.000000
std         4.713203  1751.411698         NaN     1.029857     0.866025
min     70001.000000    65.260000         NaN  3001.000000  5001.000000
25%     70002.750000   140.500000         NaN  3001.000000  5001.000000
50%     70004.500000   609.575000         NaN  3001.500000  5002.000000
75%     70010.500000  2420.550000         NaN  3002.250000  5003.000000
max     70013.000000  5760.000000         NaN  3004.000000  5003.000000

## Practice Questions Part 2:
- Step 1. Import the necessary libraries
- Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/ehtisham-sadiq/P0Q6R9S2-MLZone/main/Module%2004%20-%20Python%20for%20Data%20Scientists/datasets/Euro_2012_stats_TEAM.csv)
- Step 3. Assign it to a variable called `euro12`.
- Step 4. Select only the Goal column.
- Step 5. How many team participated in the Euro2012
- Step 6. What is the number of columns in the dataset
- Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
- Step 8. Sort the teams by Red Cards, then to Yellow Cards
- Step 9. Calculate the mean Yellow Cards given per Team
- Step 10. Filter teams that scored more than 6 goals
- Step 11. Select the teams that start with G
- Step 12. Select the first 7 columns and all the rows
- Step 13. Select all columns except the last 3
- Step 14. Presents/shows only the Shooting Accuracy from England, Italy and Russia

In [2]:
url = "https://raw.githubusercontent.com/ehtisham-sadiq/P0Q6R9S2-MLZone/main/Module%2004%20-%20Python%20for%20Data%20Scientists/datasets/Euro_2012_stats_TEAM.csv"
print(url)

https://raw.githubusercontent.com/ehtisham-sadiq/P0Q6R9S2-MLZone/main/Module%2004%20-%20Python%20for%20Data%20Scientists/datasets/Euro_2012_stats_TEAM.csv

In [28]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# displayy all the columns and rows
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [29]:
euro12 = pd.read_csv(url) # Read the dataset

In [30]:
euro12.head() # View the first 5 rows

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0,11,11,19

In [31]:
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [33]:
# how many teams played in euro 2012
# euro12.shape[0]
euro12['Team'].count()

16

In [36]:
# number of columns
euro12.shape[1] # or  len(euro12.columns)

35

In [39]:
# assign the columns to discipline 
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

In [40]:
# sort discipline in descending order
discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [41]:
# Calculate the mean Yellow Cards given per Team
discipline['Yellow Cards'].mean()

7.4375

In [42]:
# Filter teams that scored more than 6 goals
euro12['Goals'] > 6

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
Name: Goals, dtype: bool

In [43]:
euro12[euro12['Goals'] > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,2774,2427,87.4%,3761,101,60,35,91,73,69,0.0,1,11,6,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,2,4317,3820,88.4%,5585,69,106,44,122,102,79,0.0,5,8,1,15,93.8%,102,83,19,11,0,17,17,18

In [46]:
# Select the teams that start with G

mask = euro12['Team'].str.startswith('G')

In [47]:
euro12[mask]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,2774,2427,87.4%,3761,101,60,35,91,73,69,0.0,1,11,6,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,0,1187,911,76.7%,2016,52,53,10,65,123,87,0.0,1,23,7,13,65.1%,67,48,12,9,1,12,12,20

In [48]:
# Select the first 7 columns and all the rows

euro12.iloc[: , :7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [49]:
# Select all columns except the last 3

euro12.iloc[: , :-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,2774,2427,87.4%,3761,101,60,35,91,73,69,0.0,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,0,1187,911,76.7%,2016,52,53,10,65,123,87,0.0,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,2,3016,2531,83.9%,4363,75,75,30,98,137,136,1.0,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,0,1556,1381,88.7%,2163,50,49,22,34,41,41,0.0,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,1,1059,852,80.4%,1724,55,39,14,67,87,62,0.0,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,2,1891,1461,77.2%,2958,91,64,41,78,92,86,0.0,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,1,851,606,71.2%,1433,43,18,8,45,78,43,1.0,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,1,1602,1345,83.9%,2278,40,40,21,65,74,58,0.0,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,2,4317,3820,88.4%,5585,69,106,44,122,102,79,0.0,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,1,1192,965,80.9%,1806,44,29,7,56,54,45,0.0,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,2,1276,1043,81.7%,1894,33,26,18,65,97,29,0.0,0,4,4,13,76.5%,48,31,4,5,0

In [52]:
# Presents/shows only the Shooting Accuracy from England, Italy and Russia
# df.loc[df["Team"].isin(["England", "Italy", "Russia"])][["Shooting Accuracy"]]

mask = euro12['Team'].isin(['England', 'Italy', 'Russia'])

In [59]:
euro12.loc[mask][['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

# Pandas - Assignment No 01
- Click here to solve [Pandas - Assignment no 01](https://www.kaggle.com/code/ehtishamsadiq/pandas-assignment-no-01)

In [1]:
from IPython.core.display import HTML

style = """
    <style>
        body {
            background-color: #f2fff2;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            color: #4295F4;
            text-decoration: underline;
            padding-top: 15px;
        }
        
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #4A000A;
            text-decoration: underline;
            padding-top: 10px;
        }
        
        h3 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #f0081e;
            text-decoration: underline;
            padding-top: 5px;
        }

        
        p {
            text-align: center;
            font-size: 12 px;
            color: #0B9923;
        }
    </style>
"""

html_content = """
<h1>Hello</h1>
<p>Hello World</p>
<h2> Hello</h2>
<h3> World </h3>
"""

HTML(style + html_content)